<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-items-center d-flex">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
      </i>
      <strong style="font-size: 30px;">Wagons</strong>
      <div class="from-group">
        <input type="text" class="from-control" [(ngModel)] ="searchTerm" (keyUp) ="search($event)" placeholder="Search product">
      </div>
      <span style="position: relative; left: -32px;" class="fas fa-search search-icon"></span>


  </div>
  <button class="btn btn-primary" routerLinkActive ="active" routerLink ="cloth">
    <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
    <div style="font-size: 10px;" class="badge bg-danger">{{totleItem}}</div>
  </button>
  </div>
</header>

