<div class="container">
  <div class="mt-5">
    <div class="row">
      <div class="col-3">
        <div class="title">Category</div>
        <ul class="table">
         <a routerLink ="cloth-men"><li>Cloths-Men</li></a> <br><hr>
          <li>Cloths-Women</li><br><hr>
          <li>Cloths-Kids</li><br><hr>
          <li>Mobiles</li><br><hr>
          <li>Books</li><br><hr>
          <li>Fruits</li><br><hr>
          <li>Vegetables</li><br><hr>
          <li>Cloths</li><br><hr>
        </ul>
      </div>
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
      <!-- <div class="col-3">
        <div class="card">
          <figure>
            <img class="card-img-top" src="../../../../assets/images/BCH 1  (1).jpeg" alt="Card image cap">
          </figure>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below</p>
          </div>
        </div>

      </div> -->
      <!-- <div class="col-3">
        <div class="card">
          <figure>
            <img class="card-img-top" src="../../../../assets/images/BCH 1 .jpeg" alt="Card image cap">
          </figure>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a </p>
          </div>
        </div>

      </div> -->
      <!-- <div class="col-3">
        <div class="card">
          <figure>
            <img class="card-img-top" src="../../../../assets/images/BCH 2 .jpeg" alt="Card image cap">
          </figure>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
